@model TUTORIAL1.Models.Turno

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Turno</h4>
    <hr />
    <p>Especialidad @Model.Medico.Especialidad</p>
    <p>OBRA SOCIAL @Model.Paciente.ObraSocial</p>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medico.Dni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medico.Dni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medico.NombreCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medico.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.Dni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Dni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.NombreCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.NombreCompleto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
