@model IEnumerable<TUTORIAL1.Models.Turno>

@{
    ViewData["Title"] = "Mis turnos";
}

<h2>Mis Turnos</h2>
<br />

@if (ViewBag.ErrorMessage != null)
{
    <p style="color:red;">@ViewBag.ErrorMessage</p>
}
else
{
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FechaHora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Medico)
                </th>
              
                <th>
                    @Html.DisplayNameFor(model => model.Medico.Especialidad)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaHora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Medico.NombreCompleto)
                    </td>
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.Medico.Especialidad)
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
