@model IEnumerable<TUTORIAL1.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}
<h1 class="title">Pacientes</h1>


<p>
    <a asp-action="Create" class="btn-sm btn-primary">Agregar</a>
    <a asp-action="VistaAdministracion" asp-controller="Home" class="btn-sm btn-secondary">Volver</a>
</p>
<br />
<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
             Nombre completo
            </th>
            <th>
                Obra social
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObraSocial)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    |
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    |
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fa-solid fa-trash"></i>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
